.mat-slider-horizontal {
  width: 100%;
}

.timeslider-container {
  background-color: white;
  height: 100%;
  border-radius: 5px;
}

.daterange-container {
  width: 130px;
}

.timeslider-control-button {
  width: 50px;
}
