@import "~@angular/material/theming";
@include mat-core();

$primary: (
  50: #efe7fe,
  100: #d7c4fb,
  200: #bc9df9,
  300: #a175f7,
  400: #8c58f5,
  500: #783af3,
  600: #7034f1,
  700: #652cef,
  800: #5b25ed,
  900: #4818ea,
  A100: #ffffff,
  A200: #ede9ff,
  A400: #c4b6ff,
  A700: #b09cff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$secondary: (
  50: #fee7f6,
  100: #fbc4e9,
  200: #f99dda,
  300: #f775cb,
  400: #f558c0,
  500: #f33ab5,
  600: #f134ae,
  700: #ef2ca5,
  800: #ed259d,
  900: #ea188d,
  A100: #ffffff,
  A200: #ffe9f5,
  A400: #ffb6dc,
  A700: #ff9cd0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$my-app-primary: mat-palette($primary, 500, 400, 800);
$my-app-accent: mat-palette($secondary, 800, 300, 900);
$my-app-warn: mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

//updating main theme
@include angular-material-theme($my-app-theme);
