:root {
  --color-scheme-base: #8e49d2;
  //65% opacity on primary button #57aaa8a6
  --color-ui-buttons-main: #57aaa8;
  --color-ui-buttons-hover: #207b79;
  --color-ui-buttons-active: #207472;
  --color-ui-buttons-disabled: #89abaa;
  --color-ui-text-fills: #f9fafa;
  // --color-scheme-accent: #cf705a;
  --color-scheme-accent: #00ff79c9;
  --navbar-color-font: white;
}
//#00ff79c9
