:root {
  --color-scheme-base: #783af3;
  --color-scheme-accent: #ed259d;
  --color-scheme-grad-start: #783af3;
  --color-scheme-grad-finish: #ed259da1;
  --stripe: #fbfeff00;
  --bg: #f1eded;
  //65% opacity on primary button #57aaa8a6
  --color-ui-buttons-main: #57aaa8;
  --color-ui-buttons-hover: #207b79;
  --color-ui-buttons-active: #207472;
  --color-ui-buttons-disabled: #89abaa;
  --color-ui-text-fills: #f9fafa;
  --navbar-color-font: white;
}
//#00ff79c9

//ref this: #9C27B0
// good website for colors: https://material.io/design/color/the-color-system.html#tools-for-picking-colors
