:root {
  --color-scheme-base: #8e49d2;
  //65% opacity on primary button #57aaa8a6
  --color-ui-buttons-main: #57aaa8;
  --color-ui-buttons-hover: #207b79;
  --color-ui-buttons-active: #207472;
  --color-ui-buttons-disabled: #89abaa;
  --color-ui-text-fills: #f9fafa;
  // --color-scheme-accent: #cf705a;
  --color-scheme-accent: #00ff79c9;
  --navbar-color-font: white;


  --color-primary-base-500: #00A881;
  --color-primary-050: #E0F5F0;
  --color-primary-100: #B3E5D9;
  --color-primary-200: #80D4C0;
  --color-primary-300: #4DC2A7;
  --color-primary-400: #26B594;
  --color-primary-600: #00A079;
  --color-primary-700: #00976E;
  --color-primary-800: #008D64;
  --color-primary-900: #008D64;

  --color-secondary-base-500: #8203A8;

}
//#00ff79c9
