<h1>About this Data</h1>
<div mat-dialog-content>
  <h3 class="mt-0">Coronavirus Weekly Positive Cases in England:</h3>

  <div class="section-content">
    <p>
      The Map shows a <b>seven day rolling total</b> for the number of positive
      cases in local areas across England. Cases are reported by Middle Layer
      Super Output Areas (MSOA) - which are a standard statistical geography of
      approximately 7,200 people.
    </p>
    <h5>Data Source:</h5>
    <p>
      <b>Public Health England Second Generation Surveillance System (SGSS)</b>.
      Dates are the final day in the relevant 7-day block, and small numbers
      between 0 and 2 are hidden in the data to protect confidentiality.
    </p>
    <p>
      For more details go to
      <a href="https://coronavirus.data.gov.uk/"
        >https://coronavirus.data.gov.uk/</a
      >
    </p>
  </div>

  <p class="text-muted">
    <small
      ><b>Note:</b> Map data is manually maintained and therefore may not
      represent the latest figures from Public Health England.</small
    >
  </p>
</div>
<div mat-dialog-actions class="d-flex justify-content-end p-3">
  <!-- <div class="dialog-attribution"><span>Built by Jonathan Dawe</span></div> -->
  <button class="btn btn-primary" mat-dialog-close>Close</button>
</div>
