<h1>About this Data</h1>
<div mat-dialog-content>
  <h3 class="mt-0">Coronavirus Weekly Positive Cases in England:</h3>

  <div class="section-content">
    <p>
      The Map shows a <b>seven day rolling total</b> for the number of positive
      cases in local areas across England. Cases are reported by Middle Layer
      Super Output Areas (MSOA) - which are a standard statistical geography of
      approximately 7,200 people.
    </p>
    <h5>Data Source:</h5>
    <p>
      <b>Public Health England Second Generation Surveillance System (SGSS)</b>.
      Data updated Daily.
    </p>
    <p>
      For more details go to
      <a href="https://coronavirus.data.gov.uk/"
        >https://coronavirus.data.gov.uk/</a
      >
    </p>
  </div>
  <h3>Local Covid Restrictions:</h3>
  <div class="section-content">
    <p>
      English local authority areas under local restrictions. Updated weekly.
      Currently showing restrictions as of 06 October 2020. For more
      information, visit
      <a href="http://bit.ly/C19_local_restrictions">here.</a>
    </p>
    <h5>Data Source:</h5>
    <p>
      <b>UK Department for Health and Social Care.</b> Data last updated 06
      October 2020.
    </p>
  </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-between p-3">
  <div class="dialog-attribution"><span>Built by Jonathan Dawe</span></div>
  <button class="btn btn-primary" mat-dialog-close>Close</button>
</div>
