//https://css-tricks.com/a-few-background-patterns-sites/
body {
  height: 100vh;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  background-color: #f9fafa;

  background-image: radial-gradient(#000000 1.5px, transparent 1.5px),
    radial-gradient(currentColor 1.5px, transparent 1.5px);
  background-size: calc(20 * 2px) calc(20 * 2px);
  background-position: 0 0, calc(10 * 2px) calc(10 * 2px);
}

body:before {
  content: "";
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 100%;
  /* background: -webkit-linear-gradient(135deg, var(--color-scheme-base), var(--color-scheme-accent) 85%); */
  background-image: linear-gradient(to top, #f9fafa, #f9fafa99 100%);
}
