<div *ngIf="isDesktop" class="filter-table-menu">
  <div class="input-group input-group-sm mat-elevation-z3 w-75">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon">Filter Table:</span>
    </div>
    <input
      type="text"
      (keyup)="applyFilter($event)"
      #input
      class="form-control"
      placeholder="Eg. Ashton North"
      aria-label="Filter Table"
      aria-describedby="basic-addon"
    />
  </div>
</div>

<div
  class="position-relative mat-elevation-z3"
  [ngClass]="{
    'card-item desktop-table-card': isDesktop,
    'mt-1 h-50': !isDesktop
  }"
>
  <app-loader class="h-100" [id]="'table'"></app-loader>
  <div
    class="table-container"
    style="overflow-y: auto; height: calc(100% - 56px)"
  >
    <table
      [ngClass]="{ 'table-desktop': isDesktop, 'table-mobile': !isDesktop }"
      mat-table
      [dataSource]="_dataSource"
      matSort
      matSortDirection="desc"
      matSortActive="cases"
    >
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.MSOAName }}</td>
      </ng-container>

      <!-- Local Authority Column -->
      <ng-container matColumnDef="localAuthority">
        <th mat-header-cell *matHeaderCellDef>Local Authority</th>
        <td mat-cell *matCellDef="let element">
          {{ element.MSOALocalAuthority }}
        </td>
      </ng-container>

      <!-- Cases Column -->
      <ng-container matColumnDef="cases">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Reported Cases
        </th>
        <td mat-cell *matCellDef="let element">{{ element.cases }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        class="elementRow"
        *matRowDef="let row; columns: displayedColumns"
        (click)="tableClickHandler(row)"
      ></tr>
    </table>
  </div>
  <mat-paginator [hidePageSize]="true" showFirstLastButtons></mat-paginator>
</div>
