<mat-sidenav-container class="sidenav-menu-position mobile-map-card-height">
  <mat-sidenav class="sidenav-menu-container" #sidenav [mode]="'over'">
    <div class="menu-item">
      <mat-slide-toggle
        class="pr-2 pl-3 wrap-toggle-text"
        [disabled]="false"
        [(ngModel)]="appStateService.showRestrictionAreas"
        >Show Areas With Local Restrictions</mat-slide-toggle
      >
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="h-100">
      <app-loader class="h-100" [id]="'map'"></app-loader>
      <app-mapview appMapTooltip class="d-block h-100 map-focus"></app-mapview>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
